
:root {
  --c1: rgba(255, 0, 0);
  --c2: rgba(0, 0, 255);
}

*{border:0;margin:0;outline:0;padding:0;text-decoration:none}
a{color:#000;display:block;padding:24px;text-shadow:.0625em .0625em 0 var(--c1)}
h1{font-size:120px;font-size:15vmin;font-weight:normal;line-height:.8;padding:.2em;text-align:center}
html{background:#fff;font:normal 16px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif}
table{border-collapse:collapse;border-spacing:0;width:100%}
td{font-size:144px;font-size:12vw;font-weight:bold;line-height:1;padding:.2em;text-align:center}
:root{text-rendering:optimizelegibility}
a:hover{background:#000;color:#fff;text-shadow:.0625em .0625em var(--c2)}
.active{background:#000}
.active a{color:#fff;text-shadow:.0625em .0625em var(--c2)}
//.active a:hover{background:#fff;color:#000}
.fb-like{position:absolute !important;right:24px;top:24px}
